<footer>
    <div class="wrap-footer">
        <div class="left-footer">
            <a class="only-mobile top-footer" href="/">
                <img src="../../img/logo3.webp" alt="">
            </a> 
            <div class="info">
                <h3>International Friendship Room (IFR)</h3>
                <h4>Department of International Oral Health Science Education</h4>
                <p>Opens from 8:30 to 18:00 - Monday to Friday</p>   
            </div>
            <a class="top-footer tablet-desktop" href="/">
                <img src="../../img/logo3.webp" alt="">
            </a> 
        </div>
        <div class="mid-footer">
            <div class="info jp">
                <h3>ロディス オマー マリアニト マニンゴ</h3>
                <p>
                    〒770-8504
                    <br/>
                    徳島市蔵本町３丁目１８－１５
                    <br/>
                    徳島大学大学院医歯薬学研究部
                    <br/>
                    国際口腔健康推進学分野
                    <br/>
                    教育教授   
                </p>
            </div>
            <a href="https://www.instagram.com/ifr_tokushima/" class="tablet-desktop insta-footer">
                <img 
                    src="../../img/icons/insta.webp"
                    srcset="../../img/icons/insta@2x.webp 2x, ../img/icons/insta@3x.webp 3x"
                    alt="Instagram Icon">
                <p>Follow us on instagram!</p>
            </a>
        </div>
        <div class="right-footer">
            <div class="info">
                <h3>Omar Marianito Maningo Rodis, DMD, PhD</h3>
                <p>
                    Professor (Education)
                    <br/>
                    Department of International Oral Health Science Education
                    <br/>
                    Tokushima University Graduate School of Biomedical Sciences
                    <br/>
                    3-18-15 Kuramoto-cho, Tokushima City, Japan 770-8504
                    <br/>
                    <a href="tel:+81886339365">
                        Tel: +81 88 633-9100 Direct Line: +81 88 633-9365 Local: 5529
                    </a>
                    <br/>
                    <a href="mailto:omarodis@tokushima-u.ac.jp">
                        E-mail: omarodis@tokushima-u.ac.jp
                    </a>
                </p>
            </div>
            <a href="https://www.instagram.com/ifr_tokushima/" class="only-mobile insta-footer">
                <img 
                    src="../../img/icons/insta.webp"
                    srcset="../../img/icons/insta@2x.webp 2x"
                    alt="Instagram Icon">
                <p>Follow us on instagram!</p>
            </a>
        </div>
    </div>
</footer>
