<nav class="nav">
  <a href="https://www.tokushima-u.ac.jp/dent/english/">
    <img 
      src="../../img/tokushima.webp" 
      alt="IFR logo">

  </a>

  <label>
    <input type="checkbox" />
    <span class="menu"> 
      <span class="hamburger only-mobile">
        <p class="abrir">Menu</p>
        <p class="fechar">Close</p>
      </span> 
    </span>

    <ul>
      <img 
        src="../../img/tokushima.webp"
        alt="IFR logo" class="only-mobile">
      <li>
        <a class="links" href="/">Home</a>
      </li>
      <li>
        <a class="links" href="/about">About</a>
      </li>
      <li>
        <a class="links" href="/events">Events</a>
      </li>
      <li>
        <a class="links" href="/updates">Updates</a>
      </li>
      <li>
        <a class="links" href="/instagram">Instagram</a>
      </li>
      <li>
        <a class="links" href="/contact">Contact</a>
      </li>
    </ul>
  </label>
</nav> 