@use 'index' as *;

.home{
    background-color: $background2;
    width: 100vw;
    height: 100vh;
    padding-top: 15vh;
    .wrap-home{
        display: flex;
        gap: 5rem;
        align-items: center;
        height: 85vh;
        max-width: 200rem;
        .left-home{
            flex: 1;
            padding: 0 0 0 10rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            p{
                font-size: 1.7rem;
                color: $gray-900;
            }
            h1{
                font-size: 6rem;
                line-height: 5rem;
                color: $brown-900;
            }
            h2{
                font-size: 2.8rem;
                line-height: 3rem;
                letter-spacing: 2%;
                margin-bottom: 10rem;
                color: $gray-900;
            }
            h3{
                font-size: 1.8rem;
                line-height: 2.2rem;
                letter-spacing: 2%;
                color: $gray-900;
            }
            h4{
                font-size: 2.2rem;
                line-height: 3rem;
                letter-spacing: 5%;
                font-style: italic;
                color: $gray-900;
            }
            .buttons{
                display: flex;
                gap: 2rem;
                margin-top: 2rem;
                a{
                    width: 18rem;
                }
            }
        }
        .right-home{
            flex: 1;
            height: 100%;
            padding-bottom: 2rem;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px 0 0 20px;
            };
        }
    }
    @media screen and (max-width:700px){
        padding-top: 10vh;
        .wrap-home{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            height: 90vh;
            max-width: 100%;
            .left-home{
                flex: 1;
                padding: 4rem 2.5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                text-align: center;
                p{
                    font-size: 1.5rem;
                    color: $gray-900;
                }
                h1{
                    font-size: 3.5rem;
                    line-height: 4rem;
                    color: $gray-500;
                }
                h2{
                    font-size: 2rem;
                    line-height: 3rem;
                    margin-bottom: 8rem;
                }
                h3{
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
                h4{
                    font-size: 2rem;
                    line-height: 3rem;
                }
                .buttons{
                    display: flex;
                    gap: 2rem;
                    margin-top: 2rem;
                    a{
                        width: 15rem;
                    }
                }
            }
            .right-home{
                flex: 1;
                height: 100%;
                padding-bottom: 0rem;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 0px 0 0 0px;
                };
            }
        }
    }
}