$background: #faf6f0;
$background2: #ede3d4; 

$gray-500: #5c4b3b; 
$gray-900: #4a4a4a; 

$orange-800: #d9a066; 

$brown-100: #b5a886; 
$brown-500: #93805c; 
$brown-900: #64453f; 

$green-100: #5c8d89;


//cores Camila

$green-900: #2c3f36;