$background: #faf6f0;
$background2: #ede3d4; 

$gray-500: #5c4b3b; 
$gray-900: #4a4a4a; 

$orange-800: #d9a066; 

$brown-100: #b5a886; 
$brown-500: #93805c; 
$brown-800: #4e342e;
$brown-900: #64453f; 

$green-100: #5c8d89;

$warm-gray-900: #1c1917;

$deep-olive: #2e2a1f

// Brown-800 (#4E342E) – um marrom escuro, aconchegante e ainda na paleta “earthy”.

// Brown-900 (#3E2723) – o mais escuro da escala, dá bastante contraste com branco.

// Warm Gray-900 (#1C1917) – quase preto, mas com tom quente que combina com terrosos.

// Deep Olive (#2E2A1F) –