@use "./colors" as *;
@use "./global" as *;

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 10rem;
  height: 15vh;
  background-color: #dcc9b480;
  backdrop-filter: blur(3px);
  top: 0;
  z-index: 8;
  position: fixed;
  >a{
      width: 8rem;
      height: 8rem;
      img{
        width: 100%;
        height: 100%;
      };
    }
  input {
    display: none;
  }

  ul {
    display: flex;
    gap: 5rem;
    justify-content: flex-end;
    align-items: center;

    li {
      opacity: 1;
      a {
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 100%;
        color: $background;
        text-transform: uppercase;
        text-shadow: 1px 2px 5px $gray-500;
      }
      .transparentButton {
        text-transform: none;
      }
    }
  }

  @media screen and (max-width: 700px) {
    padding: 1.2rem 2.44rem;
    height: 10vh;

    >a{
      width: 4.5rem;
      height: 4.5rem;
      img{
        width: 100%;
        height: 100%;
      };
    }

    label .menu {
      position: relative;
      z-index: 1000;
      cursor: pointer;
    }

    .hamburger{
      .abrir{
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2%;
        font-size: 1.4rem;
      }
      .fechar{
        display: none;
      }
    }

    label input:checked {
      height: 100vh;
    }

    label input:checked + .menu .hamburger {
      .abrir{
        display: none;
      }
      .fechar{
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2%;
        font-size: 1.4rem;
        display: initial;
        animation: appear 0.5s ease-in;
      }
    }

    label ul {
      opacity: 0;
      display: none;
      animation: appear 0.5s ease-in;
    }

    label input:checked + .menu + ul {
      opacity: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 4vh;
      position: absolute;
      background-color: #e4d6c4;
      top: 0;
      width: 100vw;
      right: 0;
      padding: 2.3rem 2.4rem 3.7rem;
      height: 75vh;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      z-index: 200;
      .links{
        font-size: 1.8rem;
        line-height: 1.8rem;
        letter-spacing: 0%;
        text-transform: none;
      }
      img{
        width: 4.5rem;
        height: 4.5rem; 
        margin-bottom: 10vh;
      }
    }

  }
  @media screen and (min-width: 701px) and (max-width: 1260px) {
    padding-right: 10%;
    padding-left: 5%;
    padding-top: 2rem;
    padding-bottom: 2rem;

    label .menu {
      position: absolute;
      z-index: 1000;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }

    label input {
      display: none;
    }

    label input:checked {
      height: 100vh;
      width: 100vw;
      margin-bottom: 0;
      padding-left: 0;
      top: -7.8rem;
    }

    label input:checked + .menu + ul {
      opacity: 1;
      flex-direction: column;
      display: flex;
      position: absolute;
      top: -4rem;
      width: 100vw;
      right: 0;
      padding-top: 6rem;
      padding-left: 2.5rem;
      padding-bottom: 4.6rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      border-radius: 0px 0px 0px 25px;
    }

    label ul {
      z-index: 200;
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      -webkit-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      display: none;
    }

    ul {
      gap: 0;

      li {
        position: relative;
        padding-bottom: 2rem;
        padding-top: 2rem;
        a {
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 100%;
        }
      }
    }
  }
}
