---
title: IFR - International Friendship Room
permalink: /404.html
eleventyExcludeFromCollections: true
layout: "base.njk"
cssPath: "/css/error.css"
---

{% include 'nav.njk' %}


<div class="error">
    <h1>Ops! This link doesn't exist.</h1>
    <a href="/"> 
        <img 
        src="../../img/icons/back.webp"
        srcset="../../img/icons/back@2x.webp 2x, ../../img/icons/back@3x.webp 3x"
        alt="Flecha para voltar">
        <p>
            Back to home
        </p>
    </a>
</div>

{% include 'footer.njk' %}