---
title: IFR - International Friendship Room
layout: "base.njk"
cssPath: "/css/blog.css"
---
{% include 'nav.njk' %}

<header class="header">
    <img class="tablet-desktop" src="../img/blog/cultural.webp" alt="">
    <img class="only-mobile" src="../img/blog/cultural-mob.webp" alt="">
</header>  


{% set geralData = collections.geral[0].data %}

<section class="blog">
  <div class="blog-title">
    <h1>Cultural Exchange</h1>
    <h2>{{ geralData.cultural }}</h2>
    <a href="/updates" class="brownButton">Explore our latest updates</a>
  </div>
  <div class="blog-wrap">
  {% for item in collections.cultural | reverse | limit(8) %}
    <div class="blog-item">
      <a href="{{ item.url }}">
        <img src="{{ item.data.image }}" alt="">
        <div class="info">
          <div class="title">
            <p class="date">{{ item.data.start | eventDateJa(item.data.end) }}</p>
            <h3>{{ item.data.title }}</h3>
            <h4>{{ item.data.subtitle }}</h4>
          </div>
          <p class="description">{{ item.data.description }}</p>
          <p class="greenButton">Read more</p>
        </div>
      </a>
    </div>
  {% endfor %}
  </div>
</section>



{% include 'footer.njk' %}