---
title: IFR - International Friendship Room
layout: "base.njk"
cssPath: "/css/home.css"
---

<section class="home">
    {% include 'nav.njk' %}
    <div class="wrap-home">
        <div class="left-home">
            <div class="title">
                <p>Tokushima University Faculty of Dentistry</p>
                <h1>Welcome to the IFR</h1>
                <h2>International Friendship Room</h2>
            </div>
            <h3>Open Monday to Friday from 8:30 to 18:00</h3>
            <h4>Feel free to join us anytime</h4>
            <div class="buttons">
                <a href="/about" class="greenButton">About IFR</a>
                <a href="/events" class="greenButton">Next Events</a>
                <a href="/updates" class="greenButton">News & Updates</a>
            </div>
        </div>
        <div class="right-home">
            <img src="../img/home.webp" alt="">
        </div>
    </div>
</section>