---
title: IFR - International Friendship Room
layout: "base.njk"
cssPath: "/css/instagram.css"
---
 {% include "nav.njk" %}

 <header class="header">
    <img src="../img/instagram/header.webp" alt="" class="">
 </header>

<section class="instagram">
    <h2>Follow us on Instagram</h2>
    <a href="https://www.instagram.com/ifr_tokushima/" class="insta-title">
        <img 
            src="../img/icons/insta.webp"
            srcset="../img/icons/insta@2x.webp 2x, ../img/icons/insta@3x.webp 3x"
            alt="logo do instagram">
        <p>       
            @ifr_tokushima
        </p>
    </a>
    <blockquote 
        class="instagram-media" 
        data-instgrm-permalink="https://www.instagram.com/ifr_tokushima/" 
        data-instgrm-version="15">
    </blockquote>
    <script src="https://www.instagram.com/embed.js"></script>
</section>

 {% include "footer.njk" %}